Django==1.8.18
django-blog-zinnia==0.16
django-hamlpy==1.1.1
django-bootstrap3==9.1.0
django-bootstrap-pagination==1.6.3
django-grappelli==2.9.1
django-watson==1.4.3
django-tinymce==2.2.0
zinnia-theme-bootstrap==0.5.2
zinnia-wysiwyg-tinymce==1.4
django-nose==1.4.5
model-mommy==1.4.0
django-app-namespace-template-loader==0.4.1
django-toolbelt==0.0.1
django-filebrowser==3.8.1
django-filebrowser-no-grappelli==3.7.2
Django-tinymce-filebrowser==0.2.1
pyflakes==1.6.0
should-dsl==2.1.2
Pygments==2.2.0
ptyprocess==0.5.2
backports.shutil-get-terminal-size==1.0.0
pinocchio==0.3
decorator==4.1.2
pathlib2==2.3.0
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
simplegeneric==0.8.1
traitlets==4.3.2
ipython==5.5.0
ipdb==0.10.3