{% extends "zinnia:zinnia/base.html" %}
{% load zinnia i18n %}

{% block sidebar %}
    
<div class="col-xs-2"></div>
<div class="col-xs-8">
<aside class="widget sidebar2">

<form method="get" action="{% url 'zinnia:entry_search' %}" class="navbar-form navbar-left">
  <p class='bebas'>BUSCA</p>
    <div class="form-group">
      <input type="text" class="search-query form-control search-new" name="pattern" value="{{ pattern }}" />
    </div>
</form>

<a href=""><img class="img-responsive tag" alt="Responsive image" src="{{STATIC_URL}}materialsite/tag.png"></a>

<div class="collapse navbar-collapse navbar-ex1-collapse">

<p class='bebas destaque'>DESTAQUES:</p>
  {% get_recent_entries %}
</aside>
</div> 


{# MOSTRAR LOGADO E OPÇOES #}

{% if user.is_authenticated %}
<aside id="widget-tools" class="widget panel panel-danger">
  <div class="panel-heading">
    {% trans "Tools" %}
  </div>
  <ul class="list-group">
    {% if perms.zinnia %}
    <li class="list-group-item">
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        <span class="glyphicon glyphicon-book"></span>
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li class="list-group-item">
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        <span class="glyphicon glyphicon-pencil"></span>
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
    <li class="list-group-item">
      <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
        <span class="glyphicon glyphicon-off"></span>
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</aside>
{% endif %}


{% endblock sidebar %}
