- extends "zinnia/base.html"
- load i18n staticfiles
- load zinnia


- block content
  .panel.panel-neabi
    .panel-heading
      .contato CONTATO
    .panel-body
      {{ object.descricao|safe }}

      %ul.list-group
        %li.list-group-item
          - if object.email
            %img{'src':'{% static "img/arroba.png" %}'}
              {{ object.email}}
        %li.list-group-item
          - if object.telefone
            %img{'src':'{% static "img/telefone.png" %}'}
              {{ object.telefone}}
        %li.list-group-item
          - if object.facebook
            %img{'src':'{% static "img/facebook.png" %}'}
              {{ object.facebook}}
        %li.list-group-item
          - if object.twitter
            %img{'src':'{% static "img/twitter.png" %}'}
              {{ object.twitter}}
        %li.list-group-item
          - if object.google_plus
            %img{'src':'{% static "img/gmail.png" %}'}
              {{ object.google_plus}}