- extends "base_site.html"
- load i18n staticfiles
- load zinnia


- block content
  .panel.neabi-panel
    .panel-heading.neabi-heading
      %h1.contato CONTATO
    .panel-body
      {{ object.descricao|safe }}
      .social.navbar-right
        - if object.email
          %p.pull-right
            %img{'src':'{% static "img/arroba.png" %}'}
            email: {{ object.email}}
          %br
        - if object.telefone
          %p.pull-right
            %img{'src':'{% static "img/telefone.png" %}'}
            telefone: {{ object.telefone}}
          %br
        - if object.facebook
          %p.pull-right
            %img{'src':'{% static "img/facebook.png" %}'}
            {{ object.facebook}}
          %br
        - if object.twitter
          %p.pull-right
            %img{'src':'{% static "img/twitter.png" %}'}
            {{ object.twitter}}
          %br
        - if object.google_plus
          %p.pull-right
            %img{'src':'{% static "img/gmail.png" %}'}
            {{ object.google_plus}}
