- extends "base_site.html"

- load staticfiles
- load bootstrap3
- load bootstrap_pagination

- block content
  .panel.neabi-panel
    .panel-heading.neabi-heading.panel-destaque-header
      %p.navbar-right.mozilla Para melhor visualização, utilize:
        %a{ 'href':'http://br.mozdev.org/', 'target':"_blank"}
          %img{'src':"{% static 'img/mozilla.png' %}", class:"img-responsive",'alt':"Firefox"}
      %h1.acervo Acervo
      %p
    .panel-body
      %blockquote.box-fundo.detail
        .row
          - if object.imagem
            .col-xs-5.col-sm-5.col-md-4.col-lg-3
              %img{ "src": "={fundo.imagem.url}", "width":"150px", class: 'img-responsive'}
          %h2
            - if object.projeto
              %a{ href: "{% url 'serie-list' object.projeto.slug object.slug %}"}
                = object
            - else
              %a{ href: "{% url 'serie-list-2' object.slug %}"}
                = object
            %small
              = object.biblioteca
          %p
            = object.descricao|safe