- extends "base_site.html"

- load staticfiles
- load bootstrap3
- load bootstrap_pagination

- block content
  .panel.neabi-panel
    .panel-heading.neabi-heading.panel-destaque-header
      %h1.acervo PROJETOS
      %p
    - for projeto in projeto_list
      .panel-body.panel-destaque-body
        %blockquote.box-fundo.detail
          .row
            - if projeto.fundo.imagem
              .col-xs-5.col-sm-5.col-md-4.col-lg-3
                %img{ "src": "={projeto.fundo.imagem.url}", "width":"150px", class: 'img-responsive'}
            %h2
              %a{href: "{% url 'projeto_detail' projeto.slug %}"}
                = projeto.nome
    -empty
      .panel-body.panel-destaque-body
        %blockquote.box-fundo.detail
          %h2 Não tem Projeto cadastrado no momento.
    - if is_paginated
      .text-center
        - bootstrap_paginate page_obj range=5