- extends "zinnia/base.html"

- load staticfiles
- load bootstrap3
- load bootstrap_pagination

- block content
  .panel.panel-neabi#projeto_id
    .panel-heading
      .acervo PROJETOS
    .panel-body
      .left-inner-addon
        %i.glyphicon.glyphicon-search
        %input.search.form-control#search_projeto{ :type => "text", :placeholder => "Pesquisar Projeto...", :oninput => "search_project();" }
      .list
        - for projeto in object_list
          %blockquote.box-fundo.detail
            .row
              - if projeto.fundo.imagem
                .col-xs-4.col-sm-6.col-md-4.col-lg-3
                  %img.img-thumbnail.img-responsive{ :src => "{{projeto.fundo.imagem.url}}", :width =>"155px"}
              %h2.nome
                = projeto.nome
                - if projeto.fundo
                  %a{'class':'btn btn-orange pull-right', href: "{% url 'projeto_detail' projeto.slug projeto.fundo.slug %}"}
                    Acessar Acervo
              = projeto.descricao|safe
             - if projeto.fundo.patrocinador_set.all
              %h2 Apoio:
              %p
                - for patrocinador in projeto.fundo.patrocinador_set.all
                  - if patrocinador.imagem
                    %a{:href => "{{ patrocinador.link }}", :title => "{{patrocinador.nome}}"}
                      %img.img-thumbnail.img-responsive{:height => "80px", :src => "{{patrocinador.imagem.url}}", :width => "80px"}/
                  - else
                    %a{:href => "{{ patrocinador.link }}", :title => "{{patrocinador.nome}}"}
                      = patrocinador.nome
        -empty
          %blockquote.box-fundo.detail
            %p Não tem Projetos no momento.
        - if is_paginated
          .text-center
            - bootstrap_paginate page_obj range=5
    :javascript
      function search_project(){
        var termo = $("#search_projeto").val();

        $.ajax({
          url: '{% url "search_project" %}',
          type: 'GET',
          data: {
            'termo': termo
          },
          success: function (data) {
            $('.list').html(data);
          }
        });
      };
