- extends "base_site.html"

- load staticfiles
- load bootstrap3
- load bootstrap_pagination

- block content
  .panel.neabi-panel
    .panel-heading.neabi-heading.panel-destaque-header
      %h1.acervo
        = object.nome
    .panel-body
      %blockquote.box-fundo.detail
        .row
          - if object.fundo.imagem
            .col-xs-5.col-sm-5.col-md-4.col-lg-3
              %img{ "src": "={projeto.fundo.imagem.url}", "width":"150px", class: 'img-responsive'}
          %p
            = object.descricao|safe
          - if object.fundo
            %a{'class':'btn btn-orange', href: "{% url 'fundo_detail' projeto.slug %}"}
              Acessar o Fundo