- extends "zinnia/base.html"
- load i18n staticfiles
- load zinnia
- load bootstrap_pagination


- block content
  .panel.panel-neabi
    .panel-heading
      .publicacoes PUBLICAÇÕES
    .panel-body
      - for pub in publicacoes_list
          %blockquote.box-fundo.detail
            %h2
              = pub.titulo
              %a{'href':'{{pub.arquivo.url }}', 'class':'btn btn-orange pull-right'} Acessar Arquivo
            %p
              = pub.descricao|safe
      -empty
        %blockquote.box-fundo.detail
          %p Não tem publicações no momento.
      - if is_paginated
        .text-center
          - bootstrap_paginate page_obj range=5