- extends "base_site.html"
- load i18n staticfiles
- load zinnia
- load bootstrap_pagination


- block content
  .panel.neabi-panel
    .panel-heading.neabi-heading
      %h1.publicacoes PUBLICAÇÕES
    .panel-body
      - for pub in publicacoes_list
        %blockquote.box-fundo
          %h2
            = pub.titulo
            %a{'href':'={pub.arquivo.url }', 'class':'btn btn-orange'} Acessar Arquivo
          %p
            = pub.descricao|safe
      -empty
        %blockquote.box-fundo
          %p Não tem Fundo cadastrado no momento.
      - if is_paginated
        .text-center
          - bootstrap_paginate page_obj range=5