- extends "base_site.html"

- load staticfiles
- load bootstrap3
- load zinnia
- load bootstrap_pagination

- block content
  .panel.neabi-panel
    .panel-heading.neabi-heading
      %h1.acervo {{ serie_list.0.fundo.nome}}
      %p Séries:
    .panel-body
      - for serie in serie_list
        %blockquote.box-fundo
          %h2
            %a{ href: "{% url 'documento-list' serie.fundo.slug serie.slug %}"}
              = serie.nome
          %p
            = serie.descricao|safe
      -empty
        %blockquote.box-fundo
          %p Não possui documentos para as series do fundo no momento.

      - if is_paginated
        .text-center
          - bootstrap_paginate page_obj range=5