- extends "base_site.html"

- load staticfiles
- load bootstrap3
- load zinnia
- load bootstrap_pagination

- block content
  .panel.neabi-panel
    .panel-heading.neabi-heading
      %h1.acervo {{ serie_list.0.fundo.nome}}
      %p Séries:
    .panel-body
      - for serie in serie_list
        %blockquote.box-fundo
          %h2
            - if not serie.fundo.projeto
              %a{'href':"{% url 'documento-list2' serie.fundo.slug serie.slug %}"}
                = serie.nome
            - else
              %a{'href':"{% url 'documento-list' serie.fundo.projeto.slug serie.fundo.slug serie.slug %}"}
                = serie.nome
            %button{'class':'btn btn-orange', 'type':'button','data-toggle':'collapse', 'data-target':'#{{serie.id}}', 'aria-expanded':'false', 'aria-controls':'{{serie.id}}'}
              Detalhes
          %div.collapse{'id':'{{serie.id}}'}
            %div.well
              %table.table.table-hover
                %tr
                  %th Descriçao:
                  %td
                    = serie.descricao|safe
      -empty
        %blockquote.box-fundo
          %p Não possui documentos para as series do fundo no momento.

      - if is_paginated
        .text-center
          - bootstrap_paginate page_obj range=5