body{
	background-image: url("../img/background.jpg")!important;
  font-family: 'gisha';
  color: #47280C;
}

.container-cabecalho{
  position: relative;
  padding-bottom:  100px;
}
.navbar{
	margin-bottom: 4%;
}
hr.linha-top{
    border-top: 3px solid #523C2D;
    margin-bottom: -2px;
    margin-top: 7px;
}

hr.linha-button{
    border-top: 3px solid #523C2D;
    margin-bottom: -2px;
    margin-top: 12px;
}


.logo-iff{
	margin-top: 2.5%;
    margin-bottom: auto;
    width: 203px;
	height: 80px;
	background: url("../img/logo_iff.png") right no-repeat;
}


a.navbar-brand{
    display: inline-block;
    text-indent: -9999px;
    width: 135px;
    height: 173px;
    background: url('../img/logo3.png') no-repeat;
}
h1.navbar-left{
    margin-top: 5px;
    margin-left: 27px;
    margin-bottom: 6px;
}
div.navbar-collapse{
    margin-top: 12px;
    margin-bottom: -3px;
}
ul.navbar-nav{
   margin-bottom: -8px;
}


@font-face {
  font-family: 'BreeSerifRegular';
  src: local('fonts/BreeSerifRegular.otf'), url('fonts/BreeSerifRegular.otf');
}

@font-face {
  font-family: 'gisha';
  src: local('fonts/gisha.ttf'), url('fonts/gisha.ttf');
}

@font-face {
  font-family: 'gishabd';
  src: local('fonts/gishabd.ttf'), url('fonts/gishabd.ttf');
}

@font-face {
  font-family: 'BEBAS';
  src: local('fonts/BEBAS.TTF'), url('fonts/BEBAS.TTF');
}

#menu{
  font-family: 'BreeSerifRegular';
  font-size: 150%;

}
.nav>li>a:hover{
    background-color: transparent;
}
.navbar-nav>li>a{
    margin-bottom: -8px;
    padding-bottom: 10px;
}
.nav>li>a{
    margin-bottom: auto;
}

.header ul.nav li a:hover {
    text-decoration: underline;;
    color: #3F2B1F;
/* color: #fff;*/
/*    border-bottom: 2px #24C1BD;*/
}


form.form-search{
    margin-top: 4px;
    margin-bottom: 6px;
}
input.search-top{
    margin-right: 25px;
    font-size: 16px;
}

div.navbar-header{
    margin-bottom: -7px;
}
div.navbar-menu{
    margin-bottom: -6px;
}
nav.navbar{
    margin-bottom: 1%;
}


.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 6px 6px;
    pointer-events: none;
}

.footer-skeleton{
  width: 100%;
  background: url('../img/rodape.png');
  height: 100px;
}
.footer-cabecalho{
  width: 100%;
  background: url('../img/rodape.png');
  height: 100px;
  position: relative;
  bottom: 0;
}

.entry-title{
    font-family: 'gishabd';
    line-height: 0.8;
    padding-bottom: 9px;
    margin-bottom: -1px;
    border-bottom: 1px solid #D05D2A;
}
h2 small{
  font-size: 16px;
}
h2.entry-title >a {
      color: #D05D2A;
}
a{
  color:#BE4F27;
}

a.neabi{
    color: #47280C;
}
a.publicacoes{
    color: #BE4F27;
}
a.acervo{
   color: #806A63;
}

a.noticias{
    color: #bf7275;
}
a.contato{
    color: #ce704e;
}
.social{
    margin-top: 10px;
}

/*botão orange*/
.btn-orange {
  color: #FFFFFF;
  background-color: #DB7448;
  border-color: #C45D31;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  color: #FFFFFF;
  background-color: #D05D2A;
  border-color: #C45D31;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
  background-color: #DB7448;
  border-color: #C45D31;
}

.btn-orange .badge {
  color: #DB7448;
  background-color: #FFFFFF;
}
/*fim botão orange */

div.entry-content.lead{
  line-height: 18px;
/*  color:#523317;*/
/*  color:#583A1E;*/
/*  color:#5E4023;*/
}

.list-group-item{
  background-color: transparent;
  border: none;
}

.panel-heading{
  font-family: 'BreeSerifRegular';
  font-size: 20px;
  color:#806A63;
}

.well{
  border: 1px solid #EFBCA2;
  background-color: rgb(229, 206, 176);
}

.entry-header{
  padding-bottom: 0px;
  margin-bottom: 7px;
}

.page-header{
  border-bottom: none;
}

.navbar-toggle .icon-bar{
  background-color: aliceblue;
}

blockquote.box-fundo{
  border-left: 5px solid #EFBCA2;
/*  border-bottom: 1px solid #EFBCA2;
  border-top: 1px solid #EFBCA2;
  border-right: 1px solid #EFBCA2;*/
  border-radius: 4px;
  /*background-color: rgb(213, 184, 146); */
  background-color: rgb(229, 206, 176);
  /*background-color: rgb(219, 196, 164);*/

  padding: 1px 20px;
  padding-bottom: 10px;
}
blockquote.box-fundo h2{
  font-family: 'BreeSerifRegular';
}
blockquote p{
    font-size: 15.5px;
}

blockquote.box-fundo .row{
  margin-left: auto
}

.neabi-panel{
    background-color: transparent;
    border: 1px solid #EFBCA2;
}

.noticias-panel{
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

.neabi-heading h1 {
  color: #47280C;
  font-family: 'BreeSerifRegular';
  margin-bottom: -5px;
}
h1.noticias{
  color: #bf7275;
  margin-top: auto;
}

.panel-destaque-header{
  padding-bottom: 0px;
}
.panel-destaque-body{
  padding-top: 0px;
}
.panel-patrocinadores-header{
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
}
h1{
  font-size: 27px;
}
h2{
  font-size: 23px;
}
.dropdown-menu{
  background-color: rgba(227, 227, 227, 0.91);
}
.dropdown-menu>li>a:hover{
  background-color: transparent;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background-color: transparent;
}
blockquote.detail{
  border: none;
  margin-bottom: auto;
}
blockquote{
  background-color: rgb(229, 206, 176);
  border-left: 5px solid #EFBCA2;

}

dl.dl-horizontal {
  margin-bottom: auto;
}
.well-table{
  background-color: #f5f5f5;
}


/*----------------- carousel-------------------*/
.carousel, .carousel-inner, .carousel-inner img{
     height: 370px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  /*display: block;*/
  width: 100%;
  height: 370px;
}


.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-caption h2{
    font-family: 'gishabd';
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.neabi-titulo{
  margin-left: 25%;
  margin-top: 6%;
}