%html{lang: "pt-br"}
  %head
    %meta{charset: "utf-8"}/
    %title Neabi| IFF
    - load static
    - load bootstrap3
    %script{src:"{% static 'js/jquery-1.11.1.min.js'%}"}
    %script{src: "{% static 'js/rodape.js' %}"}
    %script{src: "{% static 'js/main.js' %}"}
    %link{href: "{% static 'css/main.css' %}", rel: "stylesheet"}
    - bootstrap_css
    - bootstrap_javascript
    - block extra_head

    %body
      %script{src: "{% static 'js/wz_tooltip.js' %}"}

      .banner
        %h1 Neabi | IFF

      .container
        .row-fluid
          .col-md-1
          .col-md-12
            .boxprincipal
              .row-fluid
                .col-md-12
                  - bootstrap_messages
                  - block container
      / - include "rodape.html"