{% extends "base_default.html" %}
{% load i18n staticfiles %}
{% load zinnia %}
{% block link %}
  <link rel="stylesheet" href="{% static "css/base_fundo.css" %}" />
{% endblock link %}

{% block layout_content%}
  <div id="content" class="hfeed col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% block breadcrumbs %}
      {% zinnia_breadcrumbs "Notícias" %}
    {% endblock %}
    {% block content %}
    <div class="links">
      <h3>{% trans "Useful links" %}</h3>
      <ul>
        <li>
          <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
            {% trans "Weblog index" %}
          </a>
        </li>
        <li>
          <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
            {% trans "Sitemap" %}
          </a>
        </li>
      </ul>
    </div>
    <div class="search">
      <h3>{% trans "Search" %}</h3>
      {% include "zinnia/tags/search_form.html" %}
    </div>
    {% endblock content %}
  </div>
{% endblock layout_content%}