- extends "base.html"

- load staticfiles
- load bootstrap3

- block extra_head

- block container
    -for documento in documento_list
      %a{ href: "{% url 'documento-detail' fundo.pk serie.pk documento.pk %}"}
        = documento
      %br
    -empty
      %p Não possui documentos para esta série {{ serie }}.