- extends "base.html"

- load staticfiles
- load bootstrap3

- block extra_head

- block container
    = documento 
    = documento.nota_conservacao
    - for pagina in documento.pagina_set.all
        %img{:src =>"{{ pagina.arquivo.url}}" }
        %br